@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.fixed-top{
    position:fixed;top:0;right:0;left:0;z-index:1030
}

.DashboardNav{
  height: 55px;
  width: 100%;
  background:#15bf6d;;
  color: white;
}

.DashboardNav h3{
  font-size: 25px;
  font-weight: normal;
  position: absolute;
  top: 10px;
  left: 10vw;
}

.profile{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 10px;

}
  .Dashfloat{
    float: right;
    position: absolute;
    top: 2px;
    right: 10vw;
    
  }

  .Dashfloat button{
    padding: 4px 10px 4px 10px;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }

  .Dashfloat button:focus{
    outline: none;
  }

  .Dashfloat label{
    font-size:  20px;
    font-weight: normal;
  }


  .logoutbtn{
    background: #fd5c3d;
    font-size:  20px;
    margin-right: 25px;
    padding: 1rem;
    margin-top: 5px;
    margin-left: 900px;
  }
